@{
    ViewData["Title"] = "Home Page";
}


  
<!-- Masthead Slider -->
    <section id="hero" style="height: 730px;">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators" id="hero-carousel-indicators"><li data-target="#heroCarousel" data-slide-to="0" class=""></li><li data-target="#heroCarousel" data-slide-to="1" class=""></li><li data-target="#heroCarousel" data-slide-to="2" class="active"></li><li data-target="#heroCarousel" data-slide-to="3" class=""></li></ol>
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item" style="background: url(/images/slide-1.jpg);background-repeat: no-repeat;background-size: cover;">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown">BioMedikal Teknoloji</h2>
                                <p class="animated fadeInUp">
                                    2012 yılından bu yana başta üroloji ardından girişimsel radyoloji alanları olmak üzere artırılmış gerçeklik, yapay zeka ve görüntü işleme teknolojilerini kullanarak bilimsel çalışmalar yapıyoruz.
                                </p>
                                <div>
                                    <a href="/Kurumsal/Hakkimizda#about" class="btn-get-started animated fadeInUp scrollto">Detay</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="        background: url(/images/slide-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
    ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown">
                                    IoT (Internet of Things)
                                </h2>
                                <p class="animated fadeInUp">
                                    Geliştirmiş olduğumuz sunucu uygulamaları ile cihazlarınızdan gelen verileri, yorumluyor, analiz ediyor, raporluyor ve uç birimlere iletiyoruz. İsterseniz web, mobil ve masaüstü uygulamaları ile ilgili kullanıcılara ulaştırıyoruz.
                                </p>
                                <div>
                                    <a href="/Kurumsal/Hakkimizda#about" class="btn-get-started animated fadeInUp scrollto">Detay</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item active" style="        background: url(/images/slide-7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
    ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown">Yapay Zeka</h2>
                                <p class="animated fadeInUp">Özellikle ayırmış olduğumuz bu başlık altında gerek cihazlarınızdan gerekse uygulamalarınızdan gelen verileri anlamlamlandırarak analiz etmenize, ileri dönük stratejik verileri elde etmenize yardımcı oluyoruz. İstek ve ihtiyaç halinde bunları bir uygulamalar bütününe çeviriyoruz.</p>
                                <div>
                                    <a href="/Kurumsal/Hakkimizda#about" class="btn-get-started animated fadeInUp scrollto">Detay</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item" style="        background: url(/images/slide-3.jpg    );
            background-repeat: no-repeat;
            background-size: cover;
    ">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown">Hukuk Alanı</h2>
                                <p class="animated fadeInUp">2006 yılından bu yana hukuk alanında kurumsal yazılmlar geliştiriyoruz.</p>
                                <div>
                                    <a href="/Kurumsal/Hakkimizda#about" class="btn-get-started animated fadeInUp scrollto">Detay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators" id="hero-carousel-indicators">
                    <li data-target="#heroCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#heroCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#heroCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#heroCarousel" data-slide-to="3" class=""></li>
                </ol>

            </div>
        </div>
    </section>



    <!-- Services -->
    <!-- Header-->
    <header id="about" class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center" style="background-image: url('/images/about.jpg'); background-size: cover; background-position: center;">
                <div class="m-4 m-lg-5" style="background-color: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h1 class="display-5 fw-bold">Ae Yazılım Teknoloji</h1>
                    <p class="fs-4">
                        Yazılım dünyasındaki serüvenimiz 2006 yılı Ocak ayında teknoloji geliştirme bölgesinde
                        başladı. Bu serüven ilk günkü heyecanı, azmi ve gayreti ile güçlenerek halen devam etmektedir.
                        Hukuk sektörü ile başlayan serüvenimiz 2012 yılından sonra biyomedikal projeler ve 2015’ten sonra
                        IOT projeleri olmak üzere üç ana omurga üzerinde sürdürülmektedir. Ana sektörlerimiz dışında
                        kurumsal çalışmalara da destek veren şirketimiz bilişim teknolojileri kurumlarının ihtiyaç
                        duydukları çözümleri üretmeye devam ediyor.
                    </p>

                </div>
            </div>
        </div>
        <style>
            .p-lg-5::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.4);
                z-index: -1;
            }
        </style>
    </header>
    <!-- Page Content -->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features -->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Web Teknolojiler</h2>
                            <p class="mb-0">Asp.Net Mvc Core teknolojisi kullanarak web alanında gelişmeler yapıyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                            <h2 class="fs-4 fw-bold">Mobil Teknolojiler</h2>
                            <p class="mb-0">Swift, Java, Flutter teknolojileri kullanarak mobil alanda geliştirmeler yapıyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                            <h2 class="fs-4 fw-bold">IoT</h2>
                            <p class="mb-0">
                                Geliştirmiş olduğumuz sunucu uygulamaları ile cihazlarınızdan gelen verileri,
                                yorumluyor, analiz ediyor, raporluyor ve uç birimlere iletiyoruz. İsterseniz web, mobil ve
                                masaüstü uygulamaları ile ilgili kullanıcılara ulaştırıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">Yapay Zeka</h2>
                            <p class="mb-0">
                                Özellikle ayırmış olduğumuz bu başlık altında gerek cihazlarınızdan gerekse
                                uygulamalarınızdan gelen verileri anlamlamlandırarak analiz etmenize, ileri dönük stratejik
                                verileri elde etmenize yardımcı oluyoruz. İstek ve ihtiyaç halinde bunları bir uygulamalar
                                bütününe çeviriyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">BioMedikal Teknoloji</h2>
                            <p class="mb-0">
                                2012 yılından bu yana başta üroloji ardından girişimsel radyoloji alanları
                                olmak üzere artırılmış gerçeklik, yapay zeka ve görüntü işleme teknolojilerini kullanarak
                                bilimsel çalışmalar yapıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                            <h2 class="fs-4 fw-bold">Bilişim Danışmanlığı</h2>
                            <p class="mb-0">
                                Uzman kadromuz ile bilişim alanında yapacağınız çalışmalarda projenizin tüm
                                yaşam döngüsünü yönetmenizde sizlere yardımcı oluyoruz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5 clients-bg-gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://elifsera.com/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/elifsera-logo.png.webp" alt="..." aria-label="Microsoft Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.envoyyakit.com.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/envoy.png" alt="..." aria-label="Google Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.insos.net/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/insos.png" alt="..." aria-label="Facebook Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://ktun.edu.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo (1).png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.tarimorman.gov.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo (2).png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://kenkasenerji.com/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo (3).png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.koyuncu.com/tr" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo (4).png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.selcuk.edu.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo_tr.png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://erbakan.edu.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo_v2.webp" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.gidatarim.edu.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo.png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.konyateknokent.com.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/logo.webp" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.ankasagim.com.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/mavi.webp" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://www.omarge.com/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/omarge.png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://zebramedya.com/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/zebramedya.png" alt="..." aria-label="IBM Logo" /></a>
                </div>
                <div class="col-md-2 col-sm-4 my-3">
                    <a href="https://ktc.com.tr/" target="_blank"><img class="img-fluid img-brand logo d-block mx-auto" src="~/img/logos/zyro-image-4.webp" alt="..." aria-label="IBM Logo" /></a>
                </div>
            </div>
        </div>
    </div>



    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Projeler</h2>
                <h3 class="section-subheading text-muted">Ekiplerimiz tarafından geliştirilen projelerden bazıları</h3>
            </div>
            <div class="row">
                 <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" href="/Projects/Details/1">
                            <img class="img-fluid" src="~/img/portfolio/eantrenor.webp" alt="..." />
                            <div class="portfolio-caption">
                                <h4 class="portfolio-caption-heading">Antrenör Değerleme Yazılımı</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" href="/Projects/Details/2">
                            <img class="img-fluid" src="~/img/portfolio/worknproject.webp" alt="..." />
                            <div class="portfolio-caption">
                                <h4 class="portfolio-caption-heading">WorkNProject</h4>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/Projects/Details/3">
                                <img class="img-fluid" src="~/img/portfolio/icrayonetim.webp" alt="..." />
                                <div class="portfolio-caption">
                                    <h4 class="portfolio-caption-heading">İcra Yönetim Programı</h4>
                                </div>
                            </a>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/Projects/Details/4">
                                <img class="img-fluid" src="~/img/portfolio/ilspor.webp" alt="..." />
                                <div class="portfolio-caption">
                                    <h4 class="portfolio-caption-heading">İl Spor Okulları Yazılımı</h4>
                                </div>
                            </a>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/Projects/Details/5">
                                <img class="img-fluid" src="~/img/portfolio/kasa.webp" alt="..." />
                                <div class="portfolio-caption">
                                    <h4 class="portfolio-caption-heading">Kasa Yönetim Programı</h4>
                                </div>
                            </a>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="/Projects/Details/6">
                                <img class="img-fluid" src="~/img/portfolio/markayonetimi.webp" alt="..." />
                                <div class="portfolio-caption">
                                    <h4 class="portfolio-caption-heading">Marka Yönetimi</h4>
                                </div>
                            </a>
                        </div>
                </div>
                
            <!-- Tüm projeleri göster butonu -->
            <div class="text-center mt-4">
                <a href="/Projects/Projects" class="btn-show-all-projects">
                    Bütün Projeleri Göster
                </a>
            </div>
        </div>
        </div>
    </section>
    <!-- Duyurular-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Duyurular</h2>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="avatar">
                            <h2>06.06.2020</h2>
                            <span>Yeni Arayüzümüzle Yayındayız</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="avatar">
                            <h2>19.06.2019</h2>
                            <span>Adop Kasa Yönetimi Masaüstü Yazılımı Hakkında</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="avatar">
                            <h2>03.08.2023</h2>
                            <span>Adop Kasa ve İcra Yönetimi Hakkında Önemli..</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="connaction">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">İletişim</h2>
            </div>
            <div class="row position-relative">
                <div class="col-lg-4 mb-4 text-center position-relative">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about/konum.jpg" alt="..." /></div>
                    <div class="timeline-heading">
                        <h4 class="subheading">ADRES</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Selçuk Üniversitesi Teknoloji Geliştirme Bölgesi Ardıçlı Mh Gürbulut Sk No:67/A2-Z06 Selçuklu 42003 Konya</p>
                    </div>
                    <div class="vertical-line left-line"></div>
                </div>
                <div class="col-lg-4 mb-4 text-center position-relative">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about/iletisim.jpg" alt="..." /></div>
                    <div class="timeline-heading">
                        <h4 class="subheading">TELEFON</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">00 90 332 606 0 235</p>
                    </div>
                    <div class="vertical-line left-line right-line"></div>
                </div>
                <div class="col-lg-4 mb-4 text-center position-relative">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about/email.jpg" alt="..." /></div>
                    <div class="timeline-heading">
                        <h4 class="subheading">E-POSTA</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">bilgi@aeyazilim.com</p>
                    </div>
                    <div class="vertical-line right-line"></div>
                </div>
            </div>
        </div>
    </section>

   
   
   

