
@{
    ViewData["Title"] = "Biomedikal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">
        <!-- Breadcrumbs Section -->
        <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 120px;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>BioMedikal Teknoloji</h2>
                    <ol>
                        <li><a href="/Home/Index" style="color: green;">Ana Sayfa</a></li>
                        <li>&nbsp;&nbsp;</li>
                        <li>/</li>
                        <li>&nbsp;&nbsp;</li>
                        <li>BioMedikal Teknoloji</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about">
            <div class="container">

                <p>BiyoMedikal teknolojiyi, tıpta teşhis ve tedavi amacıyla kullanılabilecek tüm madde, malzeme, aparat, cihazla ve uygulamaların üretimi ile ilgilenen disiplinlerarası bir teknoloji dalı olarak tanımlayabiliriz. BioMedikal Teknoloji, birçok gelişmiş ve gelişmekte olan ülkede olduğu gibi Türkiye’de de öncelikli desteklenmesi gereken Bilim ve Teknoloji dallarından biri olarak görülmekte ve çeşitli plan ve programlarda yer almaktadır. Tüm modern/yeni teknoloji dallarında olduğu gibi bu teknolojinin doğru ve hızlı gelişimi için sanayi-akademi ilişkisine gereksinim vardır. Bu bağlamda şirketimiz 2012 yılından bu yana başta üroloji ve girişimsel radyoloji alanları başta olmak üzere biyomedikal teknoloji alanında artırılmış gerçeklik, yapay zeka ve g görüntü işleme teknolojilerini kullanarak bilimsel çalışmalar yapıyoruz.</p>

            </div>
        </section>
    </main>
   
