
@{
    ViewData["Title"] = "Iot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <main id="main">
        <!-- Breadcrumbs Section -->
        <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 120px;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>IoT (Internet of Things)</h2>
                    <ol>
                        <li><a href="/Home/Index" style="color: green;">Ana Sayfa</a></li>
                        <li>&nbsp;&nbsp;</li>
                        <li>/</li>
                        <li>&nbsp;&nbsp;</li>
                        <li>IoT (Internet of Things)</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about">
            <div class="container">

                <p>Nesnelerin interneti olarak Türkçeleştirebileceğimiz Iot, fiziksel nesnelerin birbirleriyle veya donanım ya da yazılım olarak daha büyük sistemlerle bağlantılı olduğu iletişim ağıdır. Nesnelerin tekil anahtar (unique identifier) ile işaretlenerek internet altyapısı üzerinden birlikte çalışabilmesi ve bu sayede küçük parçaların toplamından daha büyük değerler oluşturulması öngörülmüştür. Bu bağlamda geliştirmiş olduğumuz sunucu uygulamaları ile cihazlarınızdan gelen verileri, yorumluyor, analiz ediyor, raporluyor ve uç birimlere iletiyor isterseniz web, mobil ve masaüstü uygulamaları ile ilgili kullanıcılara ulaştırıyoruz.</p>

            </div>
        </section>
    </main>
    


