
@{
    ViewData["Title"] = "Mutfak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 <main id="main">
        <!-- Breadcrumbs Section -->
        <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 120px;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Mutfak</h2>
                    <ol>
                        <li><a href="/Home/Index" style="color: green;">Ana Sayfa</a></li>
                        <li>&nbsp;&nbsp;</li>
                        <li>/</li>
                        <li>&nbsp;&nbsp;</li>
                        <li>Mutfak</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about">
            <div class="container">

                <p>Kurumunuzun yazılım tabanlı bilişim teknolojileri üzerine olan ihtiyaçlarının giderilmesinde sizlere yardımcı oluyoruz. Bunu nasıl mı yapıyoruz? İhtiyaçlarınızı analiz ediyoruz, iş paketlerinizi oluşturuyoruz, iş paketlerinizi mimari süreçlere oturtuyoruz, mimari yapıya göre tasarlıyoruz, kodluyoruz, raporluyoruz ve dokümante edip sizlere teslim ediyoruz. Kısaca bilişim alanında yapacağınız çalışmalarda projenizin tüm yaşam döngüsünü yönetmenizde sizlere yardımcı oluyoruz.</p>

            </div>
        </section>
    </main>
   
