
@{
    ViewData["Title"] = "EpostaUyari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <main id="main">
        <!-- Breadcrumbs Section -->
        <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 120px;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>E-posta Uyarısı</h2>
                    <ol>
                        <li><a href="/Home/Index" style="color: green;">Ana Sayfa</a></li>
                        <li>&nbsp;&nbsp;</li>
                        <li>/</li>
                        <li>&nbsp;&nbsp;</li>
                        <li>E-posta Uyarısı</li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about">
            <div class="container">

                <p>
                    Bu e-posta (ve ekleri) gizli bilgi içermektedir ve sadece gönderilen kişiye yöneliktir.
                    Bu e-postanın muhatabı değilseniz veya içeriği ile ilginiz yoksa, Ae Kod Teknolojisi |
                    Ae Yazılım onayı olmaksızın bu e-postanın okunması,değiştirilmesi, kopyalanması, üçüncü kişilere
                    açıklanması, yayınlanması, ifşa edilmesi veya iletilmesi yasaktır. Bu e-postanın gönderilmek istendiği
                    kişi değilseniz (ya da bu e-postayı yanlışlıkla aldıysanız), lütfen yollayan kişiyi hemen haberdar ediniz
                    ve e-postayı sisteminizden derhal siliniz. E-posta iletiminin güvenli veya hatasız olduğunun garantisi
                    olmadığından geç veya eksik iletim veya içerik ve bilgilerde eksiklik, kayıp,değişiklik veya virüs olabilir.
                    Bu nedenle, bu mesajın iletiminden dolayı, gönderen, içerikteki hata, eksiklik, doğruluğun ve gizliliğin
                    ihlalinden veya bu yolla bilgi paylaşımı, iletimi, depolanması gibi herhangi bir kullanımından hiçbir şekilde
                    sorumlu değildir.Bu mesajın içeriği yazarına ait olup, Ae Kod Teknolojisi | Ae Yazılım görüşlerini
                    içermeyebilir. Bu e-postanın içeriğinde geçen şirketimizin ad veya namına yaratılan fikri ve sınai haklar
                    Ae Kod Teknolojisi | Ae Yazılım' ma ait olup,maddi ve manevi tüm hakları Ae Kod Teknolojisi | Ae Yazılım da
                    saklıdır.
                </p>

            </div>
        </section>
    </main>
   




