
@{
    ViewData["Title"] = "Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="main">
        <!-- Breadcrumbs Section -->
        <section id="breadcrumbs" class="breadcrumbs" style="margin-top: 120px;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Gizlilik Bildirimi</h2>
                    <ol>
                        <li><a href="/Home/Index" style="color: green;">Ana Sayfa</a></li>
                        <li>&nbsp;&nbsp;</li>
                        <li>/</li>
                        <li>&nbsp;&nbsp;</li>
                        <li>Gizlilik Bildirimi</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="about" class="about">
            <div class="container">
                <p>
                    <span>AE KOD TEKNOLOJİSİ Program paketlerinin kurulum esnasında ve kullanımları sırasında sizden edinmiş olduğu hiçbir bilgiyi üçüncü şahıslara kullandırtmaz, onlara kiralamaz ve satmaz. Gizlilik bildirimi ile ilgili bilgileri her hangi bir zaman diliminde değiştirebileceğimiz için belirli aralıklarla bu bildirimi gözden geçirmenizde fayda vardır.</span>
                </p>
                <h4>Kullandığımız Bilgileriniz.</h4>
                <p>- Kullandığımız bilgileriniz, ad, soyad, baro sicil no, bağlı olduğunuz baro, iş adresiniz, iş ve cep telefonlarınız, ürünlerimizin kurulduğu bilgisayarınızın sistem bilgileri.- Ürün güncellemeleri esnasında güncelleme işleminin tamamlanmasından sonra yapmış olduğunuz güncelleme tarihi ve güncelleme paket ismi.</p>
                <h4>Bilgilendirme Haklarınız</h4>
                <p>AE KOD TEKNOLOJİSİ kullanmış olduğunuz ürün paketleri hakkında kullanıcılarına şeffaf bir yaklaşım sergiler. Bu bağlamda AE KOD TEKNOLOJİSİ almış olduğunuz online destek, eğitim yada yerinde hizmet sonrası servis bilgilerini ister faks yoluyla ister e-posta yoluyla size rapor halinde gönderebilir.</p>
                <h4>İzninizle Depolanan Bilgileriniz</h4>
                <p>Kullanmış olduğunuz ürün paketlerinde bulunan akıllı yazılım ürünü sizin izin vermenizle birlikte kullanmış olduğunuz ana ürün paketinde tutulan verilerinizi AE KOD TEKNOLOJİSİ sisteminde şifreli bir biçimde depolar. Amacı sisteminiz çökmesi yada kurtarılamayacak düzeyde bozulması durumunda yedeklenen bilgilerinizi size geri vermektir. İstediğiniz zaman bu bilgileri alabilir, yedekleme iznini kaldırabilir ve yedeklenen verilerin silinmesini isteyebilirsiniz.</p>
                <h4>Adop Mobil İcra Programının Kullandığı izinler</h4>
                <ul>
                    <li>Sms ve Mail: Dosya bakiyelerinin telefon rehberindeki herhangi bir kişiye veya boçluya veya alacaklıya kendi sms ve mail hakkınızla göndermeyi sağlar</li>
                    <li>Kamera: Sistem içinde QR Barkod okumak için kullanır.</li>
                    <li>Telefon Kimlik bilgileri: Google alt yapısı içinde push notification denilen mesaj gönderme ve okuma sistemi için telefonunuz bazı bilgileri google ın izin veriği müddetçe kullanır.</li>
                    <li>Kişisel Bilgileriniz: www.icrayonetim.com üzenden çalışan Adop İcra Yönetim Programı ile entegre çalıştırğından dolayı mobil kısımda demo talep göndermek ve oradaki bilgileriniz ile sisteme giriş yapmanız için kullanır.</li>
                </ul>
                <h4>Adop Ajanda Yönetimi Programının Kullandığı izinler</h4>
                <ul>
                    <li>TC kimlik No ve Ad Soyad: Genel avukat bilgilerinizin örneğin Ad Soyad, Tbb Sicil No, Baro Sicil No ve Baro İli gibi bilgilerin sisteme güvenlikli bir biçimde işlenmesi ve sistemin avukatlar tarafından kullanabilmesi için ihtiyaç duyar.</li>
                    <li>Telefon Kimlik Bilgileri: Google alt yapısı içinde push notification denilen mesaj gönderme ve okuma sistemi için telefonunuz bazlı bilgileri google ın izin verdiği müddetçe kullanır.</li>
                </ul>
            </div>
        </section>
    </main>
 




