
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


    <!-- Services -->
    <!-- Header-->
    <header id="about" class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center" style="background-image: url('/images/about.jpg'); background-size: cover; background-position: center;">
                <div class="m-4 m-lg-5" style="background-color: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <h1 class="display-5 fw-bold">Ae Yazılım Teknoloji</h1>
                    <p class="fs-4">
                        Yazılım dünyasındaki serüvenimiz 2006 yılı Ocak ayında teknoloji geliştirme bölgesinde
                        başladı. Bu serüven ilk günkü heyecanı, azmi ve gayreti ile güçlenerek halen devam etmektedir.
                        Hukuk sektörü ile başlayan serüvenimiz 2012 yılından sonra biyomedikal projeler ve 2015’ten sonra
                        IOT projeleri olmak üzere üç ana omurga üzerinde sürdürülmektedir. Ana sektörlerimiz dışında
                        kurumsal çalışmalara da destek veren şirketimiz bilişim teknolojileri kurumlarının ihtiyaç
                        duydukları çözümleri üretmeye devam ediyor.
                    </p>

                </div>
            </div>
        </div>
       
    </header>
    <!-- Page Content -->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features -->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                            <h2 class="fs-4 fw-bold">Web Teknolojiler</h2>
                            <p class="mb-0">Asp.Net Mvc Core teknolojisi kullanarak web alanında gelişmeler yapıyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                            <h2 class="fs-4 fw-bold">Mobil Teknolojiler</h2>
                            <p class="mb-0">Swift, Java, Flutter teknolojileri kullanarak mobil alanda geliştirmeler yapıyoruz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                            <h2 class="fs-4 fw-bold">IoT</h2>
                            <p class="mb-0">
                                Geliştirmiş olduğumuz sunucu uygulamaları ile cihazlarınızdan gelen verileri,
                                yorumluyor, analiz ediyor, raporluyor ve uç birimlere iletiyoruz. İsterseniz web, mobil ve
                                masaüstü uygulamaları ile ilgili kullanıcılara ulaştırıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                            <h2 class="fs-4 fw-bold">Yapay Zeka</h2>
                            <p class="mb-0">
                                Özellikle ayırmış olduğumuz bu başlık altında gerek cihazlarınızdan gerekse
                                uygulamalarınızdan gelen verileri anlamlamlandırarak analiz etmenize, ileri dönük stratejik
                                verileri elde etmenize yardımcı oluyoruz. İstek ve ihtiyaç halinde bunları bir uygulamalar
                                bütününe çeviriyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                            <h2 class="fs-4 fw-bold">BioMedikal Teknoloji</h2>
                            <p class="mb-0">
                                2012 yılından bu yana başta üroloji ardından girişimsel radyoloji alanları
                                olmak üzere artırılmış gerçeklik, yapay zeka ve görüntü işleme teknolojilerini kullanarak
                                bilimsel çalışmalar yapıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                            <h2 class="fs-4 fw-bold">Bilişim Danışmanlığı</h2>
                            <p class="mb-0">
                                Uzman kadromuz ile bilişim alanında yapacağınız çalışmalarda projenizin tüm
                                yaşam döngüsünü yönetmenizde sizlere yardımcı oluyoruz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  

